
.center {
	text-align: center;
}

.mainbackground {
	background-color: grey;
}

.jumbobackground {
	background-color: white;
	color: white;
	text-shadow: 3px 3px black;
	background-image: url("../images/crystalback.jpg");
}

.crystal {
	margin: 15px;
}

.c1 {
	background-image: url("../images/crystal1.jpg");
	height: 140px;
	width: 140px;
}

.c2 {
	height: 140px;
	width: 140px;
}

.c3 {
	height: 140px;
	width: 140px;
}

.c4 {
	height: 140px;
	width: 140px;
}

img {
	display: block;
	max-width: 140px;
	max-height: 140px;
	width: auto;
	height: auto;
}

h3 {
	color: white;
	text-shadow: 3px 3px black;

}

ul {
	color: lightgrey;
}